html,
body {
    margin: 0;
    min-height: 100%;
}

body {
    position: relative;
}

/* blurred background */
body::before {
    content: "";
    position: fixed;
    inset: -30px;

    background: url("backround.webp") center / cover no-repeat;

    filter: blur(20px);
    transform: scale(1.05);

    z-index: -1;
}
